<div id="<%= dom_id movement %>">
  <tbody>
    <tr>
      <td><%= movement.name %></td>
      <td><%= movement.description %></td>
      <td><%= movement.date %></td>
      <td><%= movement.ammount %></td>
      <td><%= movement.category %></td>
     <th><%= link_to "Show this movement", movement %></th>
    </tr>
  <tbody>
</div>

