<div id="<%= dom_id movement %>">
  <p>
    <strong>Name:</strong>
    <%= movement.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movement.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= movement.date %>
  </p>

  <p>
    <strong>Ammount:</strong>
    <%= movement.ammount %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= movement.movement_type_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= movement.account_id %>
  </p>

</div>
