<p style="color: green"><%= notice %></p>

<%= render @movement_type %>

<div>
  <%= link_to "Edit this movement type", edit_movement_type_path(@movement_type) %> |
  <%= link_to "Back to movement types", movement_types_path %>

  <%= button_to "Destroy this movement type", @movement_type, method: :delete %>
</div>
