<%= form_with(model: movement_category) do |form| %>
  <% if movement_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movement_category.errors.count, "error") %> prohibited this movement_category from being saved:</h2>

      <ul>
        <% movement_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
