
<%= form_with(model: movement_category) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
    <% @movement_category.errors.full_messages_for(:name).each do |message| %>
      <div class="content-error"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :movement_type_id, style: "display: block" %>
    <%= form.select :movement_type_id, options_from_collection_for_select(MovementType.all, :id, :name) %>
    <% @movement_category.errors.full_messages_for(:movement_type_id).each do |message| %>
      <div class="content-error"><%= message %></div>
    <% end %>
  </div>
  <br/>
  <div>
    <%= form.submit class: "pure-button pure-button-primary" %>
  </div>
<% end %>